body{
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  height: 2px;
  padding-top: 1.0em;
}
  
  .intro{
      float: left;
      margin-left: 25px;
      /* padding-top: 20px; */
      
  }
  .intro2{
      float: left;
      margin-top: 30px;
  }
  nav{
      float: right;
  }
  nav ul{
      margin: 0%;
      list-style: none;
  }
  nav li{
      display: inline-block;
      margin-left: 25px;
      padding-top: 10px;
  }
  .red{
     color: #EC4067;
  
  }
  .myblock{
      height: 350px;
      padding-top: 70px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-left: 4.0em;
      /* height: 300px; */
      /* background-color: blue; */
  }
  .container2{
      /* float: left;
      display: block;
      width: 65%; */
  }
  .container23{
    width: auto;
      /* float: right;
      width: 35%;
      background-position: cover; */
  }
  .container3{
      align-items: flex-end;
      float: right;
      margin-right: 50px;
      margin-right: 21px;
      display: inline-flex;
      margin-top: 0;
      padding-bottom: 10px;
  }
  .footer{
      /* position: fixed; */
      left: 10px;
      bottom: 5px;
      right: 10px;   
      width: 95%;  
      height: 30px;
      text-align: center;
      text-decoration: dotted;
      background-color: rgb(236, 231, 231); 
  
  }
.vkim31{
  display: flex;
  flex-direction: row;
  padding-left: 4.0em;
  justify-content: space-between;

}
.vkim312{
  width: 40%;
  
}
.vkim3123{
  margin-top: 60px;
  width: 50%;
  padding-right: 10.0em;
  justify-content: space-around;
}
.vkim31234{
  margin-top: 10px;
  display: flex;
  padding-left: 4.0em;
}
.vkim312345{
  width: 40%;
  margin-top: 20px;
}

.klacsy{
  padding-top: 4.0em;
  display: flex;
  padding-left: 4.0em;
}
.klacsy1{
  width: 40%;
}
.klacsy2{
  margin-left: 35px;
}
.project{
  padding-left: 4.0em;
}
.row{
  padding-left: 4.0em;
}
.mentour{
  padding-left: 4.0em;
}
.mentor1{
  font-size: larger;
  font-weight: 800;
}
.mentor2{
  background-color: rgb(226, 222, 222);
}
.mentor3{
  font-size: 10px;

}

.project21{
  display: flex;
  padding-left: 4.0em;
  margin-top: 20px;
  
}
.project001{
  padding-left: 4.0em;
}
.bike10{
  width: 50%;
}
.project001{
  height: 60px;
}
.span001{
  background-color: rgb(226, 222, 222);
}

.contactus{
  padding-left: 4.0em;
}
  /* .moringa{
      display: block;
    
      /* background-color: blueviolet; */
  /* }
  .stories{
      float: left;
      width: 45%;
  } */
  /* .orientation{
     padding-top: 10px; */
  } */
  /* .meeting::after{
    content: "";
    clear: both;
    display: table;
      display: block;
      /* height: 350px; */
      /* background-color: blue; */
      /* margin: 0;
      padding-top: 10px; */
  } */

  }
  .image3{
      float: left;
  }
  

  }
  .bike{
      float: left;
  }
  .image9{
    
    float: right;
  }
  .contactus{
      height: 200px;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: flex;
    padding-left: 4.0em;
  }
  .project::after{
    content: "";
    clear: both;
    display: table;
    padding-top: 5.0em;

  }
 .bike{
     float: left;
     width: 50%;
     padding: 5px;
 }
 * {
    box-sizing: border-box;
  }
  
  .stories {
    float: left;
    width: 60%;
    /* padding: 5px; */
  }
  .orientation {
    float: right;
    width: 40%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .moringa::after {
    content: "";
    clear: both;
    display: flex;
    
  }
  .meeting::after{
    clear: both;
    display: flex;
  }
  .board1{
    float: left;
    width: 60%;
  }
  .board2{
    float: right;
    width: 40%;
  }
  button{
    background-color: #EC4067;
    color: white;
    height: 30px;
    border: none;

  }


  .bottom-Left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  .container18 {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-left1 {
    position: absolute;
    bottom: 8px;
    left: 18px;
    color: white;
  }