
  
  .intro{
      float: left;
      margin-left: 25px;
      /* padding-top: 20px; */
      
  }
  .intro2{
      float: left;
      margin-top: 30px;
  }
  nav{
      float: right;
  }
  nav ul{
      margin: 0%;
      list-style: none;
  }
  nav li{
      display: inline-block;
      margin-left: 25px;
      padding-top: 10px;
  }
  .red{
     color: red;
  
  }
  .myblock{
      padding-top: 100px;
      margin-top: 10px;
      display: block;
      height: 300px;
      background-color: blue;
  }
  .container2{
      float: left;
      display: block;
      width: 45%;
  }
  .container3{
      align-items: flex-end;
      float: right;
      margin-right: 50px;
      margin-right: 21px;
      display: inline-flex;
      margin-top: 0;
      padding-bottom: 10px;
  }
  footer{
      position: fixed;
      left: 10px;
      bottom: 5px;
      right: 10px;   
      width: 95%;  
      height: 30px;
      text-align: center;
      text-decoration: dotted;
      background-color: grey;
  
  }
  .moringa{
      display: block;
      height: 300px;
      background-color: blueviolet;
  }
  .stories{
      float: left;
      width: 45%;
  }
  .orientation{
     padding-top: 10px;
  }
  .meeting{
      display: block;
      height: 350px;
      background-color: blue;
      /* margin: 0;
      padding-top: 10px; */
  }
  .board{
     
      float: left;
     text-align: left;
  }
  .image3{
      float: left;
  }
  .mentors{
      height: 600px;
      display: block;
  }
  .Rose{
      display: flex;
      width: 25%;
      display: inline;
    
  }
  .byrone{
      display: flex;
      width: 25%;
      display: inline;
  }
 