
  
  .intro{
      float: left;
      margin-left: 25px;
      /* padding-top: 20px; */
      
  }
  .intro2{
      float: left;
      margin-top: 30px;
  }
  nav{
      float: right;
  }
  nav ul{
      margin: 0%;
      list-style: none;
  }
  nav li{
      display: inline-block;
      margin-left: 25px;
      padding-top: 10px;
  }
  .red{
     color: #EC4067;
  
  }
  .myblock{
      padding-top: 100px;
      margin-top: 10px;
      display: block;
      /* height: 300px; */
      /* background-color: blue; */
  }
  .container2{
      float: left;
      display: block;
      width: 65%;
  }
  .container23{
      float: right;
      width: 35%;
  }
  .container3{
      align-items: flex-end;
      float: right;
      margin-right: 50px;
      margin-right: 21px;
      display: inline-flex;
      margin-top: 0;
      padding-bottom: 10px;
  }
  footer{
      position: fixed;
      left: 10px;
      bottom: 5px;
      right: 10px;   
      width: 95%;  
      height: 30px;
      text-align: center;
      text-decoration: dotted;
      background-color: grey; 
  
  }
  /* .moringa{
      display: block;
    
      /* background-color: blueviolet; */
  /* }
  .stories{
      float: left;
      width: 45%;
  } */
  /* .orientation{
     padding-top: 10px; */
  } */
  /* .meeting::after{
    content: "";
    clear: both;
    display: table;
      display: block;
      /* height: 350px; */
      /* background-color: blue; */
      /* margin: 0;
      padding-top: 10px; */
  } */

  }
  .image3{
      float: left;
  }
  

  }
  .bike{
      float: left;
  }
  .image9{
    
    float: right;
  }
  .contactus{
      height: 200px;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: flex;
  }
  .project::after{
    content: "";
    clear: both;
    display: table;

  }
 .bike{
     float: left;
     width: 50%;
     padding: 5px;
 }
 * {
    box-sizing: border-box;
  }
  
  .stories {
    float: left;
    width: 60%;
    /* padding: 5px; */
  }
  .orientation {
    float: right;
    width: 40%;
    /* padding: 5px; */
  }
  
  /* Clearfix (clear floats) */
  .moringa::after {
    content: "";
    clear: both;
    display: flex;
    
  }
  .meeting::after{
    clear: both;
    display: flex;
  }
  .board1{
    float: left;
    width: 60%;
  }
  .board2{
    float: right;
    width: 40%;
  }
  button{
    background-color: #EC4067;
    color: white;\
    font-size: 38px;
  }
  .bottom-Left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  .container18 {
    position: relative;
    text-align: center;
    color: white;
  }